@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

/* TEGS GERAL */

.container{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: auto;
}

.flex{
    display: flex;
    grid-template-columns: auto;
    justify-content: space-between;
    margin-top: 40px;
}

.btn{
    padding: 20px;
    width: 180px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    background-color: #1f7cff;
    margin-top: 20px;
    cursor: pointer;
  
}

.btn>a{
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.8s ease-in-out;
    background-color: #1f7cff;
}
/* CABEÇALHO */
.header{
    display: flex;
    justify-content: space-between;

}

.portifolio{
    width: 100%;
    height: auto;
    font-family: "Poppins", sans-serif;
    font-size: 29px;
    color: #070F18;
    margin-top: 40px;
}

.list{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: end;
   text-align: end;
   font-family: "Poppins", sans-serif;
    margin-top: 49px;
}

.list>ul {
    list-style-type: none;
    display: flex;
}

.list>ul>li{
    display: flex;
    margin-right: 45px;
    font-size: 23px;
}

.list>ul>li>a{
    text-decoration: none;
    color: #070F18;
    transition: 0.3s ease-in-out;
}

.list>ul>li>a:hover{
    color: #124681;
    font-size: 25px;
}

/* TEXT + IMG */

.flex .text{
   width: 100%;
   height: 100%; 
   margin-top: 150px;
}

h1{
    font-size: 55px;
    font-family: "poppins", sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

p{
    font-family: "poppins", sans-serif;
    color: #070F18;
    font-size: 17px;
}

.img{
    width: 100%;
    height: auto;
}

.img>img{
    width: 100%;
}

/* TEC */

#col{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    text-transform: uppercase;
}

#col>.cards{
    width: 100%;
    display: flex;
    grid-template-columns: auto;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

#col>.cards>.card>p{
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}


#col>.cards>.card>img{
    width: 8rem;
    cursor: pointer;
}

/* SERVIÇOS */

.text-servicos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    align-items: center;
}

.text-servicos .p{
    color: #f75c4e;
    font-size: 18px;
}

.servicos{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
}

.servicos img{
    width: 13%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
}

.servicos > h5{
    font-size: 1.5rem;
}

/*CONTATOS*/

.img-02{
    width: 750px;
    height: auto;
    margin-bottom: 5%;
}

.img-02> img{
    width: 100%;
}

.contato{
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    gap: 10px;
    margin-bottom: 2%;
}

.contato>h5{
    color: #f75c4e;
    font-size: 28px;
}

.contato>p{
    font-size: 1.2rem;
    cursor: pointer;  
}

.contato>form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1.5rem;
}

.contato>form>input{
    padding: 20px;
    border-radius: 25px;
    font-size: 20px;
    border: none;
    background-color: #d7dae6;
}

/*portifolio*/

.describer>h5{
    color: #f75c4e;
    font-size: 20px;
}

.describer>h2{
    font-size: 55px;
    font-family: "poppins", sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
} 
 
.flex-img{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

.flex-img>img{
    width: 30%;
}